@charset "UTF-8";
#container {
  clear: both;
  height: 100%;
  position: relative; }
  #container .header {
    position: fixed;
    left: 0;
    right: 0;
    min-height: 60px;
    padding: 0 15px;
    z-index: 1002; }
    #container .header .sidebar-toggle-box {
      float: left;
      padding-right: 15px;
      margin-top: 18px; }
      #container .header .sidebar-toggle-box .icon-reorder {
        cursor: pointer;
        display: inline-block;
        font-size: 20px; }
    #container .header .logo {
      font-size: 21px;
      color: #2e2e2e;
      float: left;
      margin-top: 15px;
      text-transform: uppercase; }
      #container .header .logo span {
        color: #FF6C60; }
    #container .header .nav {
      float: left;
      margin-top: 15px;
      margin-left: 65px; }
      #container .header .nav .top-menu li {
        float: left;
        position: relative; }
        #container .header .nav .top-menu li a {
          color: #666666;
          font-size: 16px;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          border: 1px solid #f0f0f8 !important;
          padding: 2px 6px;
          margin-right: 15px; }
          #container .header .nav .top-menu li a .badge {
            position: absolute;
            right: 2px;
            top: -10px;
            z-index: 100;
            display: inline-block;
            min-width: 10px;
            padding: 3px 6px;
            font-size: 12px;
            font-weight: bold;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            background-color: #999;
            border-radius: 10px; }
          #container .header .nav .top-menu li a .bg-success {
            background: #a9d86e; }
          #container .header .nav .top-menu li a .bg-important {
            background: #ff6c60; }
          #container .header .nav .top-menu li a .bg-warning {
            background: #FCB322; }
    #container .header .top-nav {
      margin-top: 7px; }
      #container .header .top-nav .pull-right {
        float: right !important; }
        #container .header .top-nav .pull-right li {
          margin-left: 10px;
          float: left;
          position: relative;
          display: block; }
          #container .header .top-nav .pull-right li .search {
            margin-top: 5px;
            display: block;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            border: 1px solid #fff;
            box-shadow: none;
            background: url(../img/search-icon.jpg) no-repeat 10px 8px;
            padding: 0 5px 0 35px;
            color: #fff;
            border-radius: 4px; }
          #container .header .top-nav .pull-right li .form-control {
            display: block;
            height: 34px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555;
            vertical-align: middle;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
          #container .header .top-nav .pull-right li input::-webkit-input-placeholder,
          #container .header .top-nav .pull-right li textarea::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #ccc; }
        #container .header .top-nav .pull-right .dropdown .dropdown-toggle {
          display: none;
          color: #666666;
          font-size: 16px;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          padding: 6px;
          background: none;
          margin-right: 0;
          position: relative;
          border: 1px solid #f0f0f8; }
          #container .header .top-nav .pull-right .dropdown .dropdown-toggle img {
            width: 29px;
            height: 29px; }
          #container .header .top-nav .pull-right .dropdown .dropdown-toggle .username {
            font-size: 13px;
            color: #555555; }
          #container .header .top-nav .pull-right .dropdown .dropdown-toggle .caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 2px;
            vertical-align: middle;
            border-top: 4px solid #000;
            border-right: 4px solid transparent;
            border-bottom: 0 dotted;
            border-left: 4px solid transparent;
            content: "";
            border-bottom-color: #A4AABA;
            border-top-color: #A4AABA;
            transition: All 0.4s; }
          #container .header .top-nav .pull-right .dropdown .dropdown-toggle:hover .caret {
            transform: rotate(180deg); }
          #container .header .top-nav .pull-right .dropdown .dropdown-toggle .dropdowncon {
            position: absolute;
            top: 40px;
            left: -26px;
            background: #f7f1f1;
            padding: 5px;
            width: 83px;
            font-size: 13px;
            overflow: hidden;
            display: none; }
            #container .header .top-nav .pull-right .dropdown .dropdown-toggle .dropdowncon .dropdownlist {
              width: 100%; }
              #container .header .top-nav .pull-right .dropdown .dropdown-toggle .dropdowncon .dropdownlist li {
                width: 100%;
                padding: 5px 0;
                margin-bottom: 0;
                text-align: center;
                margin-left: 0; }
                #container .header .top-nav .pull-right .dropdown .dropdown-toggle .dropdowncon .dropdownlist li:hover {
                  color: #3399ea; }
        #container .header .top-nav .pull-right .dropdown .dropdown-lore {
          padding: 6px;
          line-height: 30px; }
        #container .header .top-nav .pull-right .dropdown:hover .caret {
          border-bottom-color: #000;
          border-top-color: #000; }
  #container .aside .asideD {
    width: 180px;
    height: 100%;
    position: fixed;
    background: #2a3542; }
    #container .aside .asideD .sidebar-menu {
      margin-top: 75px; }
      #container .aside .asideD .sidebar-menu li {
        line-height: 20px !important;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px; }
        #container .aside .asideD .sidebar-menu li a {
          display: block;
          padding: 15px 0 15px 10px;
          font-size: 12px;
          outline: none;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          transition: all 0.3s ease; }
          #container .aside .asideD .sidebar-menu li a i {
            font-size: 15px;
            padding-right: 6px; }
          #container .aside .asideD .sidebar-menu li a .izuo5 {
            border-bottom: 4px solid transparent;
            border-left: 4px solid #A0A0A0;
            border-top: 4px solid transparent;
            float: right;
            height: 0;
            margin-right: 10px;
            margin-top: 6px;
            width: 0; }
        #container .aside .asideD .sidebar-menu li a:hover {
          background: #35404d;
          color: white; }
        #container .aside .asideD .sidebar-menu li a:hover i {
          color: #FF6C60; }
        #container .aside .asideD .sidebar-menu li a:hover .izuo5 {
          border-left: 4px solid #fff; }
        #container .aside .asideD .sidebar-menu li .sub li {
          background: #35404D;
          margin-bottom: 0;
          margin-left: 0;
          margin-right: 0;
          line-height: 20px !important; }
          #container .aside .asideD .sidebar-menu li .sub li a {
            font-size: 12px;
            padding: 0 0 0 32px;
            line-height: 35px;
            height: 35px;
            transition: all 0.3s ease;
            color: #737B83; }
          #container .aside .asideD .sidebar-menu li .sub li a:hover {
            color: #FF6C60; }
  #container .main-content {
    display: flex;
    margin-left: 180px; }
    #container .main-content .view-container {
      width: 100%;
      padding: 0 115px 30px;
      margin-top: 60px; }
      #container .main-content .view-container .cont .cont-title {
        font-size: 20px;
        color: #3d3d3d;
        height: 90px;
        line-height: 90px;
        border-bottom: 1px solid #e0e0e0;
        font-weight: 700; }
      #container .main-content .view-container .cont .user-info {
        overflow: hidden; }
        #container .main-content .view-container .cont .user-info .userheader {
          float: left;
          text-align: center;
          margin-right: 16px;
          cursor: pointer; }
          #container .main-content .view-container .cont .user-info .userheader img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto;
            margin-top: 16px; }
          #container .main-content .view-container .cont .user-info .userheader .modify {
            font-size: 14px;
            color: #3399ea;
            margin-top: 8px;
            cursor: pointer; }
        #container .main-content .view-container .cont .user-info .right_c {
          display: flex;
          flex-direction: column;
          padding: 0 10px; }
          #container .main-content .view-container .cont .user-info .right_c .nick {
            margin-top: 16px;
            width: 100%;
            height: 32px;
            line-height: 32px;
            overflow: hidden; }
            #container .main-content .view-container .cont .user-info .right_c .nick span {
              float: left;
              font-size: 16px;
              color: #4d4d4d; }
            #container .main-content .view-container .cont .user-info .right_c .nick .mod {
              float: right;
              font-size: 14px;
              color: #3399ea;
              cursor: pointer; }
          #container .main-content .view-container .cont .user-info .right_c .self li {
            height: 32px;
            line-height: 32px;
            font-size: 14px;
            color: #4d4d4d; }
    #container .main-content .wrapper {
      margin-top: 60px;
      padding: 15px 10px 0px 15px;
      width: 100%;
      /*按钮*/ }
      #container .main-content .wrapper .contentbiao {
        height: 25px;
        line-height: 25px; }
        #container .main-content .wrapper .contentbiao span {
          float: left; }
        #container .main-content .wrapper .contentbiao ul {
          float: left; }
          #container .main-content .wrapper .contentbiao ul li:before {
            content: "/\00a0";
            padding: 0 5px;
            color: #ccc; }
      #container .main-content .wrapper .lists_page {
        width: 230px;
        height: 35px;
        position: absolute;
        left: 50%;
        margin-left: 400px;
        margin-top: 20px;
        font-family: '微软雅黑'; }
        #container .main-content .wrapper .lists_page span {
          display: inline-block;
          width: 32px;
          height: 33px;
          line-height: 33px;
          text-align: center;
          float: left;
          margin-right: 10px;
          border-radius: 2px;
          cursor: pointer; }
          #container .main-content .wrapper .lists_page span a {
            display: inline-block;
            width: 30px;
            height: 32px;
            line-height: 32px;
            border-radius: 3px;
            color: #999; }
        #container .main-content .wrapper .lists_page .page_left {
          border: 1px solid #d4d4d4;
          background: #eaeaea;
          cursor: default; }
        #container .main-content .wrapper .lists_page .page_right {
          border: 1px solid #d4d4d4;
          background: #fff;
          cursor: pointer; }
        #container .main-content .wrapper .lists_page .pages a:hover {
          border: 1px solid #ffa8b6;
          background: #fdf3f3;
          color: #FF6C60; }
        #container .main-content .wrapper .lists_page .pages .lists_qty a {
          border: 1px solid #f52648;
          background: #FF6C60;
          color: #fff; }
      #container .main-content .wrapper .content {
        width: 100%; }
        #container .main-content .wrapper .content table {
          text-align: left;
          width: 100%; }
          #container .main-content .wrapper .content table thead tr {
            height: 35px;
            line-height: 35px;
            background: #f0f0f8; }
            #container .main-content .wrapper .content table thead tr th {
              text-align: center; }
            #container .main-content .wrapper .content table thead tr th:nth-child(1) {
              width: 30px;
              font-weight: 100;
              font-size: 12px; }
              #container .main-content .wrapper .content table thead tr th:nth-child(1) input {
                display: inline-block;
                width: 15px;
                height: 15px;
                background: #fff;
                margin-right: 4px;
                vertical-align: middle;
                cursor: pointer; }
            #container .main-content .wrapper .content table thead tr .goods_img {
              width: 70px; }
            #container .main-content .wrapper .content table thead tr .goods_id {
              width: 20px; }
            #container .main-content .wrapper .content table thead tr .goods_category {
              width: 50px; }
            #container .main-content .wrapper .content table thead tr .goods_name {
              width: 120px; }
            #container .main-content .wrapper .content table thead tr .goods_unit {
              width: 50px; }
            #container .main-content .wrapper .content table thead tr .goods_stock {
              width: 50px; }
            #container .main-content .wrapper .content table thead tr .goods_del {
              width: 55px; }
            #container .main-content .wrapper .content table thead tr .goods_up {
              width: 80px; }
          #container .main-content .wrapper .content table tbody tr {
            height: 100px;
            border: 1px dotted #c2c2c2;
            border-top: none;
            font-weight: 100;
            font-size: 13px;
            color: #666; }
            #container .main-content .wrapper .content table tbody tr td {
              text-align: center; }
            #container .main-content .wrapper .content table tbody tr td:nth-child(1) {
              width: 30px;
              font-weight: 100;
              font-size: 12px; }
              #container .main-content .wrapper .content table tbody tr td:nth-child(1) input {
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-left: -20px;
                vertical-align: middle;
                cursor: pointer; }
            #container .main-content .wrapper .content table tbody tr .goods_img {
              width: 70px;
              position: relative;
              cursor: pointer; }
              #container .main-content .wrapper .content table tbody tr .goods_img .smallimg {
                position: absolute;
                margin-left: 5px;
                top: 10px;
                opacity: 0;
                z-index: 10;
                transition: opacity .5s; }
            #container .main-content .wrapper .content table tbody tr .goods_id {
              width: 20px; }
            #container .main-content .wrapper .content table tbody tr .goods_category {
              width: 50px; }
            #container .main-content .wrapper .content table tbody tr .goods_name {
              width: 120px; }
            #container .main-content .wrapper .content table tbody tr .goods_unit {
              width: 50px; }
            #container .main-content .wrapper .content table tbody tr .goods_stock {
              width: 50px; }
            #container .main-content .wrapper .content table tbody tr .goods_del {
              width: 55px; }
              #container .main-content .wrapper .content table tbody tr .goods_del i {
                display: inline-block;
                width: 40px;
                height: 22px;
                line-height: 22px;
                cursor: pointer;
                background: #f0f0f8;
                border-radius: 3px;
                border: 1px solid #ccc;
                box-shadow: 0px 0px 3px #c2c2c2; }
                #container .main-content .wrapper .content table tbody tr .goods_del i:nth-child(1):hover {
                  background: #FCB322;
                  color: #fff;
                  border: 1px solid #faeda6;
                  box-shadow: 0px 0px 3px #f0f0f8; }
                #container .main-content .wrapper .content table tbody tr .goods_del i:nth-child(2):hover {
                  background: #f52648;
                  color: #fff;
                  border: 1px solid #faeda6;
                  box-shadow: 0px 0px 3px #f0f0f8; }
            #container .main-content .wrapper .content table tbody tr .goods_up {
              width: 80px; }
              #container .main-content .wrapper .content table tbody tr .goods_up span {
                display: inline-block;
                width: 50px;
                height: 22px;
                line-height: 22px;
                border-radius: 3px;
                cursor: pointer; }
              #container .main-content .wrapper .content table tbody tr .goods_up .uplists {
                background: #FF6C60;
                box-shadow: 0px 0px 3px #ff6c60;
                color: #fff;
                border: 1px solid #faeda6; }
              #container .main-content .wrapper .content table tbody tr .goods_up .downlists {
                display: none;
                background: #FF6C60;
                color: #fff;
                border: 1px solid #faeda6;
                box-shadow: 0px 0px 3px #ff6c60; }
          #container .main-content .wrapper .content table tbody tr:nth-child(even) {
            background: #fdf3f3; }
  #container .dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999; }
    #container .dialog .dialog-con {
      width: 502px;
      height: 474px;
      margin: 100px auto;
      background: #fff;
      padding: 16px;
      box-sizing: border-box; }
      #container .dialog .dialog-con .box {
        overflow: hidden; }
        #container .dialog .dialog-con .box h3 {
          font-size: 16px;
          color: #3d3d3d;
          float: left;
          height: 24px;
          line-height: 24px;
          font-weight: 700; }
        #container .dialog .dialog-con .box .close {
          color: #999;
          font-size: 16px;
          float: right;
          cursor: pointer;
          width: 24px;
          height: 24px;
          text-align: center; }
      #container .dialog .dialog-con .dialog-ul {
        padding-left: 10px; }
        #container .dialog .dialog-con .dialog-ul li {
          width: 100%;
          overflow: hidden;
          line-height: 34px;
          padding: 3px 0;
          margin-bottom: 0 !important; }
          #container .dialog .dialog-con .dialog-ul li label {
            margin-right: 5px;
            height: 32px;
            float: left;
            font-size: 14px;
            color: #4d4d4d; }
          #container .dialog .dialog-con .dialog-ul li select {
            border-radius: 5px;
            height: 32px;
            width: 50px;
            border-color: #dcdfe6;
            margin-left: -3px; }
          #container .dialog .dialog-con .dialog-ul li textarea {
            width: 330px;
            height: 110px;
            vertical-align: top;
            border-radius: 5px;
            border-color: #dcdfe6;
            margin-top: 2px; }
          #container .dialog .dialog-con .dialog-ul li input {
            width: 170px !important;
            height: 32px !important;
            -webkit-appearance: none;
            background-color: #fff;
            background-image: none;
            border-radius: 4px;
            border: 1px solid #dcdfe6;
            box-sizing: border-box;
            color: #606266;
            display: inline-block;
            font-size: inherit;
            height: 40px;
            line-height: 40px;
            outline: 0;
            transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
          #container .dialog .dialog-con .dialog-ul li .wui-area {
            display: inline-block; }
            #container .dialog .dialog-con .dialog-ul li .wui-area .icon1 {
              top: 30% !important; }
      #container .dialog .dialog-con .btn_group {
        margin-top: 25px;
        text-align: right; }
        #container .dialog .dialog-con .btn_group input:nth-child(1) {
          background: #41cac0;
          color: white; }
      #container .dialog .dialog-con .edit_del {
        display: inline-block;
        position: absolute;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
        background: #f52648;
        right: 10px;
        top: 10px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer; }
  #container figure {
    position: fixed;
    z-index: 888888;
    left: 50%;
    top: 50%;
    margin-top: -220px;
    margin-left: -300px; }
    #container figure .edit {
      display: none;
      width: 600px;
      height: 500px;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 10px;
      position: relative; }
      #container figure .edit table {
        width: 600px;
        height: 500px;
        margin: 30px; }
        #container figure .edit table tr {
          display: inline-block;
          width: 100%;
          height: 50px;
          text-align: center;
          line-height: 50px;
          font-size: 15px;
          color: #666;
          margin-top: 5px; }
          #container figure .edit table tr td:nth-child(1) {
            display: inline-block;
            width: 15%;
            height: 100%; }
          #container figure .edit table tr td:nth-child(2) {
            display: inline-block;
            width: 60%;
            height: 100%; }
            #container figure .edit table tr td:nth-child(2) .edit_inp {
              display: inline-block;
              float: left;
              width: 300px;
              height: 30px;
              margin-top: 5px;
              border: 1px solid #dcdfe6;
              color: #555;
              border-radius: 5px;
              padding-left: 10px; }
        #container figure .edit table tr:nth-child(1) {
          height: 100px;
          margin-bottom: 5px; }
        #container figure .edit table tr:nth-child(2) td {
          width: 100%; }
          #container figure .edit table tr:nth-child(2) td .uploadfile {
            width: 50px;
            height: 22px;
            background: linear-gradient(to bottom, #f0f0f8 20%, #ccc 80%);
            border: 1px solid #666;
            border-radius: 3px; }
            #container figure .edit table tr:nth-child(2) td .uploadfile:hover {
              background: linear-gradient(to bottom, #d5deee 20%, #a0bdf3 80%);
              border: 1px solid #6495ED; }
        #container figure .edit table tr:last-child button {
          display: inline-block;
          width: 80px;
          height: 30px;
          background: linear-gradient(to bottom right, #6495ED, #4169E1, #6495ED);
          color: #fff;
          border-radius: 3px;
          border: 1px solid #4169E1;
          font-size: 15px;
          initial-letter: 2px;
          letter-spacing: 2px;
          cursor: pointer; }
      #container figure .edit .edit_del {
        display: inline-block;
        position: absolute;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
        background: #f52648;
        right: 10px;
        top: 10px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer; }
  #container footer .screen {
    display: none;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: 66666;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0; }

/*# sourceMappingURL=index.css.map */
