@charset "utf-8";

#container {
    clear: both;
    // width: 100%;
    height: 100%;
    position: relative;

    .header {
        position: fixed;
        left: 0;
        right: 0;
        min-height: 60px;
        padding: 0 15px;
        z-index: 1002;

        .sidebar-toggle-box {
            float: left;
            padding-right: 15px;
            margin-top: 18px;

            .icon-reorder {
                cursor: pointer;
                display: inline-block;
                font-size: 20px;
            }
        }

        .logo {
            font-size: 21px;
            color: #2e2e2e;
            float: left;
            margin-top: 15px;
            text-transform: uppercase;

            span {
                color: #FF6C60;
            }
        }

        .nav {
            float: left;
            margin-top: 15px;
            margin-left: 65px;

            .top-menu {
                li {
                    float: left;
                    position: relative;

                    a {
                        color: #666666;
                        font-size: 16px;
                        border-radius: 4px;
                        -webkit-border-radius: 4px;
                        border: 1px solid #f0f0f8 !important;
                        padding: 2px 6px;
                        margin-right: 15px;

                        .badge {
                            position: absolute;
                            right: 2px;
                            top: -10px;
                            z-index: 100;
                            display: inline-block;
                            min-width: 10px;
                            padding: 3px 6px;
                            font-size: 12px;
                            font-weight: bold;
                            line-height: 1;
                            color: #fff;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: baseline;
                            background-color: #999;
                            border-radius: 10px;
                        }

                        .bg-success {
                            background: #a9d86e;
                        }

                        .bg-important {
                            background: #ff6c60;
                        }

                        .bg-warning {
                            background: #FCB322;
                        }
                    }
                }
            }
        }

        .top-nav {
            margin-top: 7px;

            .pull-right {
                float: right !important;

                li {
                    margin-left: 10px;
                    float: left;
                    position: relative;
                    display: block;

                    .search {
                        margin-top: 5px;
                        display: block;
                        // width: 20px;
                        -webkit-transition: all .3s ease;
                        transition: all .3s ease;
                        border: 1px solid #fff;
                        box-shadow: none;
                        background: url(../img/search-icon.jpg) no-repeat 10px 8px;
                        padding: 0 5px 0 35px;
                        color: #fff;
                        border-radius: 4px;
                    }

                    .form-control {
                        display: block;
                        height: 34px;
                        font-size: 14px;
                        line-height: 1.428571429;
                        color: #555;
                        vertical-align: middle;
                        background-color: #fff;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                    }

                    input::-webkit-input-placeholder,
                    textarea::-webkit-input-placeholder {
                        /* WebKit browsers */
                        color: #ccc;
                    }
                }

                .dropdown {
                    .dropdown-toggle {
                        display: none;
                        color: #666666;
                        font-size: 16px;
                        border-radius: 4px;
                        -webkit-border-radius: 4px;
                        padding: 6px;
                        background: none;
                        margin-right: 0;
                        position: relative;
                        border: 1px solid #f0f0f8;

                        img {
                            width: 29px;
                            height: 29px;
                        }

                        .username {
                            font-size: 13px;
                            color: #555555;
                        }

                        .caret {
                            display: inline-block;
                            width: 0;
                            height: 0;
                            margin-left: 2px;
                            vertical-align: middle;
                            border-top: 4px solid #000;
                            border-right: 4px solid transparent;
                            border-bottom: 0 dotted;
                            border-left: 4px solid transparent;
                            content: "";
                            border-bottom-color: #A4AABA;
                            border-top-color: #A4AABA;
                            transition: All 0.4s;
                        }
                        &:hover .caret{
                            transform: rotate(180deg);
                        }
                        .dropdowncon{
                            position: absolute;
                            top: 40px;
                            left: -26px;
                            background: #f7f1f1;
                            padding: 5px;
                            width: 83px;
                            font-size: 13px;
                            overflow: hidden;
                            display: none;
                            .dropdownlist{
                                width: 100%;
                                li{
                                    width: 100%;
                                    padding: 5px 0;
                                    margin-bottom: 0;
                                    text-align: center;
                                    margin-left:0;
                                    &:hover{
                                        color: #3399ea;
                                    }
                                }
                            }
                        }
                    }

                    .dropdown-lore {
                        padding: 6px;
                        line-height: 30px;
                    }
                }

                .dropdown:hover .caret {
                    border-bottom-color: #000;
                    border-top-color: #000;
                }
            }
        }
    }

    .aside {
        .asideD {
            width: 180px;
            height: 100%;
            position: fixed;
            background: #2a3542;

            .sidebar-menu {
                margin-top: 75px;

                li {
                    line-height: 20px !important;
                    margin-bottom: 5px;
                    margin-left: 10px;
                    margin-right: 10px;

                    a {
                        display: block;
                        padding: 15px 0 15px 10px;
                        font-size: 12px;
                        outline: none;
                        border-radius: 4px;
                        -webkit-border-radius: 4px;
                        transition: all 0.3s ease;

                        i {
                            font-size: 15px;
                            padding-right: 6px;
                        }

                        .izuo5 {
                            border-bottom: 4px solid transparent;
                            border-left: 4px solid #A0A0A0;
                            border-top: 4px solid transparent;
                            float: right;
                            height: 0;
                            margin-right: 10px;
                            margin-top: 6px;
                            width: 0;
                        }
                    }

                    a:hover {
                        background: #35404d;
                        color: white;
                    }

                    a:hover i {
                        color: #FF6C60;
                    }

                    a:hover .izuo5 {
                        border-left: 4px solid #fff;
                    }

                    .sub {
                        li {
                            background: #35404D;
                            margin-bottom: 0;
                            margin-left: 0;
                            margin-right: 0;
                            line-height: 20px !important;

                            a {
                                font-size: 12px;
                                padding: 0 0 0 32px;
                                line-height: 35px;
                                height: 35px;
                                transition: all 0.3s ease;
                                color: #737B83;
                            }

                            a:hover {
                                color: #FF6C60;
                            }
                        }
                    }
                }
            }
        }
    }

    .main-content {
        display: flex;
        margin-left: 180px;
        .view-container{
            // display: none;
            width: 100%;
            padding: 0 115px 30px;
            margin-top: 60px;
            .cont{
                .cont-title{
                    font-size: 20px;
                    color: #3d3d3d;
                    height: 90px;
                    line-height: 90px;
                    border-bottom: 1px solid #e0e0e0;
                    font-weight: 700;
                }
                .user-info{
                    overflow: hidden;
                    .userheader{
                        float: left;
                        text-align: center;
                        margin-right: 16px;
                        cursor: pointer;
                        img{
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            margin: 0 auto;
                            margin-top: 16px;
                        }
                        .modify{
                            font-size: 14px;
                            color: #3399ea;
                            margin-top: 8px;
                            cursor: pointer;
                        }
                    }
                    .right_c{
                        display: flex;
                        flex-direction: column;
                        padding: 0 10px;
                        .nick{
                            margin-top: 16px;
                            width: 100%;
                            height: 32px;
                            line-height: 32px;
                            overflow: hidden;
                            span{
                                float: left;
                                font-size: 16px;
                                color: #4d4d4d;
                            }
                            .mod{
                                float:right;
                                font-size: 14px;
                                color: #3399ea;
                                cursor: pointer;
                            }
                        }
                        .self{
                            li{
                                height: 32px;
                                line-height: 32px;
                                font-size: 14px;
                                color: #4d4d4d;
                            }
                        }
                    }

                }
            }
        }
        .wrapper {
            // display: none;
            margin-top: 60px;
            padding: 15px 10px 0px 15px;
            width: 100%;

            .contentbiao {
                height: 25px;
                line-height: 25px;

                span {
                    float: left;
                }

                ul {
                    float: left;

                    li:before {
                        content: "/\00a0";
                        padding: 0 5px;
                        color: #ccc;
                    }
                }

            }

            /*按钮*/
            .lists_page {
                width: 230px;
                height: 35px;
                position: absolute;
                left: 50%;
                // bottom: 20px;
                margin-left: 400px;
                margin-top: 20px;
                font-family: '微软雅黑';

                span {
                    display: inline-block;
                    width: 32px;
                    height: 33px;
                    line-height: 33px;
                    text-align: center;
                    float: left;
                    margin-right: 10px;
                    border-radius: 2px;
                    cursor: pointer;

                    a {
                        display: inline-block;
                        width: 30px;
                        height: 32px;
                        line-height: 32px;
                        border-radius: 3px;
                        color: #999;
                    }

                }

                .page_left {
                    border: 1px solid #d4d4d4;
                    background: #eaeaea;
                    cursor: default;
                }

                .page_right {
                    border: 1px solid #d4d4d4;
                    background: #fff;
                    cursor: pointer;

                    // &:hover {
                    //     border: 1px solid #ffa8b6;
                    //     background: #fdf3f3;
                    //     color: #f52648;
                    // }
                }

                .pages {
                    a {
                        &:hover {
                            border: 1px solid #ffa8b6;
                            background: #fdf3f3;
                            color: #FF6C60;
                        }
                    }

                    .lists_qty {
                        a {
                            border: 1px solid #f52648;
                            background: #FF6C60;
                            color: #fff;
                        }

                    }
                }
            }

            .content {
                width: 100%;

                table {
                    text-align: left;
                    width: 100%;

                    thead {
                        tr {
                            height: 35px;
                            line-height: 35px;
                            background: #f0f0f8;

                            th {
                                // width: 100px;
                                // border-left: 1px solid #000;
                                // border-right: 1px solid #000;
                                text-align: center;
                            }

                            th:nth-child(1) {
                                width: 30px;
                                font-weight: 100;
                                font-size: 12px;

                                input {
                                    display: inline-block;
                                    width: 15px;
                                    height: 15px;
                                    background: #fff;
                                    margin-right: 4px;
                                    vertical-align: middle;
                                    cursor: pointer;
                                }
                            }

                            .goods_img {
                                width: 70px;
                            }

                            .goods_id {
                                width: 20px;
                            }

                            .goods_category {
                                width: 50px;
                            }

                            .goods_name {
                                width: 120px;
                            }

                            .goods_unit {
                                width: 50px;
                            }

                            .goods_stock {
                                width: 50px;
                            }

                            .goods_del {
                                width: 55px;
                            }

                            .goods_up {
                                width: 80px;
                            }
                        }

                    }

                    tbody {
                        tr {
                            height: 100px;
                            // line-height: 35px;
                            border: 1px dotted #c2c2c2;
                            border-top: none;
                            font-weight: 100;
                            font-size: 13px;
                            color: #666;

                            td {
                                // width: 100px;
                                // border-left: 1px solid #000;
                                // border-right: 1px solid #000;
                                text-align: center;
                            }

                            td:nth-child(1) {
                                width: 30px;
                                font-weight: 100;
                                font-size: 12px;

                                input {
                                    display: inline-block;
                                    width: 15px;
                                    height: 15px;
                                    margin-left: -20px;
                                    vertical-align: middle;
                                    cursor: pointer;
                                }
                            }

                            .goods_img {
                                width: 70px;
                                position: relative;
                                cursor: pointer;

                                .smallimg {
                                    position: absolute;
                                    // left: 130px;
                                    margin-left: 5px;
                                    top: 10px;
                                    opacity: 0;
                                    z-index: 10;
                                    transition: opacity .5s;
                                }

                                // &:hover .smallimg{
                                //     opacity: 1;
                                // }

                            }

                            .goods_id {
                                width: 20px;
                            }

                            .goods_category {
                                width: 50px;
                            }

                            .goods_name {
                                width: 120px;
                            }

                            .goods_unit {
                                width: 50px;
                            }

                            .goods_stock {
                                width: 50px;
                            }

                            .goods_del {
                                width: 55px;

                                i {
                                    display: inline-block;
                                    width: 40px;
                                    height: 22px;
                                    line-height: 22px;
                                    cursor: pointer;
                                    background: #f0f0f8;
                                    border-radius: 3px;
                                    border: 1px solid #ccc;
                                    box-shadow: 0px 0px 3px #c2c2c2;

                                    &:nth-child(1) {
                                        &:hover {
                                            background: #FCB322;
                                            color: #fff;
                                            border: 1px solid #faeda6;
                                            box-shadow: 0px 0px 3px #f0f0f8;
                                        }
                                    }

                                    &:nth-child(2) {
                                        &:hover {
                                            background: #f52648;
                                            color: #fff;
                                            border: 1px solid #faeda6;
                                            box-shadow: 0px 0px 3px #f0f0f8;
                                        }
                                    }

                                }
                            }

                            .goods_up {
                                width: 80px;

                                span {
                                    display: inline-block;
                                    width: 50px;
                                    height: 22px;
                                    line-height: 22px;
                                    border-radius: 3px;

                                    // background: #f0f0f8;
                                    // border: 1px solid #ccc;
                                    // box-shadow: 0px 0px 3px #c2c2c2;
                                    cursor: pointer;
                                }

                                .uplists {
                                    // background: #FCB322;
                                    background: #FF6C60;
                                    box-shadow: 0px 0px 3px #ff6c60;
                                    color: #fff;
                                    border: 1px solid #faeda6;
                                    // box-shadow: 0px 0px 3px rgb(236, 190, 89);
                                }

                                .downlists {
                                    display: none;
                                    background: #FF6C60;
                                    color: #fff;
                                    border: 1px solid #faeda6;
                                    box-shadow: 0px 0px 3px #ff6c60;
                                }
                            }
                        }

                        tr:nth-child(even) {
                            background: #fdf3f3;
                        }
                    }
                }
            }
        }
    }

    
    .dialog{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.6);
        z-index: 9999;
        .dialog-con{
            width: 502px;
            height: 474px;
            margin: 100px auto;
            background: #fff;
            padding: 16px;
            box-sizing: border-box;
            .box{
                overflow: hidden;
                h3{
                    font-size: 16px;
                    color: #3d3d3d;
                    float: left;
                    height: 24px;
                    line-height: 24px;
                    font-weight: 700;
                }
                .close{
                    color: #999;
                    font-size: 16px;
                    float: right;
                    cursor: pointer;
                    width: 24px;
                    height: 24px;
                    text-align: center;
                }
            }
            .dialog-ul{
                padding-left: 10px;
                li{
                    width: 100%;
                    overflow: hidden;
                    line-height: 34px;
                    padding: 3px 0;
                    margin-bottom: 0!important;
                    label{
                        margin-right: 5px;
                        height: 32px;
                        
                        float: left;
                        font-size: 14px;
                        color: #4d4d4d;
                    }
                    select{
                        border-radius: 5px;
                        height: 32px;
                        width: 50px;
                        border-color: #dcdfe6;
                        margin-left: -3px;
                    }
                    textarea{
                        width: 330px;
                        height: 110px;
                        vertical-align: top;
                        border-radius: 5px;
                        border-color: #dcdfe6;
                        margin-top: 2px;
                    }
                    input{
                        // box-shadow: 0px 0px 2px #3399ea;
                        width: 170px!important;
                        height: 32px!important;
                        -webkit-appearance: none;
                        background-color: #fff;
                        background-image: none;
                        border-radius: 4px;
                        border: 1px solid #dcdfe6;
                        box-sizing: border-box;
                        color: #606266;
                        display: inline-block;
                        font-size: inherit;
                        height: 40px;
                        line-height: 40px;
                        outline: 0;
                        // padding: 0 15px;
                        transition: border-color .2s cubic-bezier(.645,.045,.355,1);
                    }
                    .wui-area{
                        display: inline-block;
                        .icon1{
                            top: 30%!important;
                        }
                    }
                }
            }
            .btn_group{
                margin-top: 25px;
                text-align: right;
                input:nth-child(1){
                    background: #41cac0;
                    color: white;
                }
            }

            .edit_del{
                display: inline-block;
                position: absolute;
                width: 20px;
                height: 20px;
                line-height: 20px;
                border-radius: 50%;
                background: #f52648;
                right:10px;
                top: 10px;
                text-align: center;
                color: #fff;
                font-size: 18px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    figure{
        position: fixed;
        z-index: 888888;
        left: 50%;
        top: 50%;
        margin-top: -220px;
        margin-left: -300px;
        .edit{
            display: none;
            width: 600px;
            height: 500px;
            background: #fff;
            border: 1px solid #ccc;
            // box-shadow: 0px 0px 5px #c2c2c2;
            border-radius: 10px;
            position: relative;
            
            table{
                width:600px;
                height: 500px;
                margin:30px;
                tr{
                    display: inline-block;
                    width: 100%;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    font-size: 15px;
                    color: #666;
                    margin-top: 5px;
                    td:nth-child(1){
                        display: inline-block;
                        width: 15%;
                        height: 100%;
                        // text-align: right;
                    }
                    td:nth-child(2){
                        display: inline-block;
                        width: 60%;
                        height: 100%;
                        .edit_inp{
                            display: inline-block;
                            float: left;
                            width: 300px;
                            height: 30px;
                            margin-top: 5px;
                            border: 1px solid #dcdfe6;
                            color: #555;
                            border-radius: 5px;
                            padding-left: 10px;
                        }
                    }
                }
                tr:nth-child(1){
                    height:100px;
                    margin-bottom: 5px;
                }
                tr:nth-child(2){
                    td{
                        width: 100%;
                        .uploadfile{
                            width: 50px;
                            height: 22px;
                            background: linear-gradient(to bottom ,#f0f0f8 20%,#ccc 80%);
                            border: 1px solid #666;
                            border-radius: 3px;
                            &:hover{
                                background: linear-gradient(to bottom ,rgb(213, 222, 238) 20%,rgb(160, 189, 243) 80%);
                                border: 1px solid #6495ED;
                            }
                        }
                    }
                }
                tr:last-child{
                    button{
                        display: inline-block;
                        width: 80px;
                        height: 30px;
                        background: linear-gradient(to bottom right,#6495ED ,#4169E1,#6495ED );
                        color: #fff;
                        border-radius: 3px;
                        border: 1px solid #4169E1;
                        font-size: 15px;
                        initial-letter: 2px;
                        letter-spacing: 2px;
                        cursor: pointer;
                    }
                }
            }

            .edit_del{
                display: inline-block;
                position: absolute;
                width: 20px;
                height: 20px;
                line-height: 20px;
                border-radius: 50%;
                background: #f52648;
                right:10px;
                top: 10px;
                text-align: center;
                color: #fff;
                font-size: 18px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    footer{
        .screen{
            display: none;
            background: #000;
            width: 100%;
            height: 100%;
            opacity: .7;
            z-index: 66666;
            position: fixed;
            bottom: 0;
            top: 0;
            left: 0;
            // display: none;
        }
    }
}